@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* src/index.css hoặc global.css */
.hide-native-controls::-webkit-media-controls {
  display: none !important;
}
